*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {

}

.whole-container {
    width: 600px;
    height: 600px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 100px auto;
    background-color: black;
}

footer {
    
}